{% extends "layout.html" %}
{% if session.logged_in and session.admin %}
{%block head%}
<link rel='stylesheet' type='text/css' href='static/css/dataTables.bootstrap.css'>
<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="static/css/dataTables.colVis.css">
<link rel="stylesheet" type="text/css" href="static/css/dataTables.tableTools.css">

<script type='text/javascript' src='static/js/jquery-1.11.1.js'></script>
<script type='text/javascript' src='static/js/dataTables.bootstrap.js'></script>
<script type='text/javascript' src='static/js/bootstrap-3.1.1.js'></script>
<script type='text/javascript' src='static/js/jquery.dataTables.js'></script>
<script type='text/javascript' src='static/js/dataTables.colVis.js'></script>
<script type='text/javascript' src='static/js/dataTables.fixedColumns.js'></script>
<script type="text/javascript" src="static/js/dataTables.tableTools.js"></script>
<script src="static/highstock.js"></script>

<!--
When setting the name of posted variables, the name of "check_id", "comment_id" should not be assigned since I used the check_id to represent the checkboxes and comment_id to represent the comments
07/15/2014 ShinYeh
-->
<link rel="stylesheet" type="text/css" href="static/css/jquery-ui.css">
<script type='text/javascript' src='static/js/Chart.js'></script>
<script type='text/javascript' src='static/js/jquery-ui.js'></script>
<script>
$(document).ready(function() {
    var T_ETA_table = $('#T_ETA_bugs_table').DataTable( {
        dom: 'TC<"clear">lfrtip',
        scrollY:        "300px",
        scrollX:        false,
        paging:         false,
        autoWidth:      false,
        "aoColumns": [ 
            {"bVisible":true, "orderable": false},  //Checkbox
            {"bVisible":true},  //BugID
            {"bVisible":true, "sWidth": "30%", "orderDataType": "dom-text"},  //Summary
            {"bVisible":true, "sWidth": "30%", "orderDataType": "dom-text"},  //Keywords
            {"bVisible":true},  //ETA
            {"bVisible":true}, //Weight
            {"bVisible":false}, //Priority
            {"bVisible":false}, //Severity
            {"bVisible":false},  //Case Count
            {"bVisible":true, "sWidth": "20%", "orderDataType": "dom-text"},  //fix by product
            {"bVisible":true},  //Assigned to
            {"bVisible":true}  //Highlighted Reasons
        ],
        "tableTools": {
            "aButtons": [
                {
                    "sExtends": "print",
                    "sButtonText": "View All",
                    "fnClick": function (nButton, oConfig, oFlash) {
                        that = this;
                        T_ETA_table.column(0).visible(false);
                        $('div.dataTables_scrollHead').show();
                        $(window).keyup(function(e){
                              if(e.which==27){
                                T_ETA_table.column(0).visible(true);
                                that.fnPrint(false, oConfig);
                              }
                        });
                        this.fnPrint(true, oConfig);
                    }
                },
            ]
        }

    } );
    //new $.fn.dataTable.FixedColumns( T_ETA_table, {
    //    leftColumns: 3
    //} );
} );
</script>

<script>
$(document).ready(function() {
    var ETA_table = $('#ETA_bugs_table').DataTable( {
        dom: 'TC<"clear">lfrtip',
        scrollY:        "300px",
        scrollX:        true,
        paging:         false,
        autoWidth:      false,
        "aoColumns": [ 
            {"bVisible":true, "orderable": false},  //Checkbox
            {"bVisible":true},  //BugID
            {"bVisible":true, "sWidth": "30%", "orderDataType": "dom-text"},  //Summary
            {"bVisible":true, "sWidth": "20%", "orderDataType": "dom-text"},  //ETA
            {"bVisible":true},  //Keywords
            {"bVisible":true},  //Weight
            {"bVisible":false}, //Priority
            {"bVisible":false}, //Severity
            {"bVisible":false}, //Case Count
            {"bVisible":true, "sWidth": "20%", "orderDataType": "dom-text"},  //fix by product
            {"bVisible":true},  //Assigned to
            {"bVisible":true}   //Highlighted Reasons
        ],
        "tableTools": {
            "aButtons": [
                {
                    "sExtends": "print",
                    "sButtonText": "View All",
                    "fnClick": function (nButton, oConfig, oFlash) {
                        that = this;
                        ETA_table.column(0).visible(false);
                        $('div.dataTables_scrollHead').show();
                        $(window).keyup(function(e){
                              if(e.which==27){
                                ETA_table.column(0).visible(true);
                                that.fnPrint(false, oConfig);
                              }
                        });
                        this.fnPrint(true, oConfig);
                    }
                },
            ]
        }

    } );
    //new $.fn.dataTable.FixedColumns( ETA_table, {
    //    leftColumns: 3
    //} );
} );
</script>

<script>
$(document).ready(function() {
    var W_U_table = $('#W_U_bugs_table').DataTable( {
        dom: 'TC<"clear">lfrtip',
        scrollY:        "300px",
        scrollX:        true,
        paging:         false,
        autoWidth:      false,
        "aoColumns": [ 
            {"bVisible":true, "orderable": false},  //Checkbox
            {"bVisible":true},  //BugID
            {"bVisible":true, "sWidth": "30%", "orderDataType": "dom-text"},  //Summary
            {"bVisible":true, "sWidth": "20%", "orderDataType": "dom-text"},  //Last Modified
            {"bVisible":true},  //ETA
            {"bVisible":true},  //Keywords
            {"bVisible":true},  //Weight
            {"bVisible":false}, //Priority
            {"bVisible":false}, //Severity
            {"bVisible":false}, //Case Count
            {"bVisible":true, "sWidth": "20%", "orderDataType": "dom-text"},  //fix by product
            {"bVisible":true},  //Assigned to
            {"bVisible":true}   //Highlighted Reasons
        ],
        "tableTools": {
            "aButtons": [
                {
                    "sExtends": "print",
                    "sButtonText": "View All",
                     "fnClick": function (nButton, oConfig, oFlash) {
                        that = this;
                        W_U_table.column(0).visible(false);
                        $('div.dataTables_scrollHead').show();
                        $(window).keyup(function(e){
                              if(e.which==27){
                                W_U_table.column(0).visible(true);
                                that.fnPrint(false, oConfig);
                              }
                        });
                        this.fnPrint(true, oConfig);
                    }
               },
            ]
        }
    } );
    //new $.fn.dataTable.FixedColumns( W_U_table, {
    //   leftColumns: 3
    //} );
} );
</script>

{%endblock%}
{%block body%}

<script>
function openPopup() {
  var popup = window.open("", ""),
      table = document.getElementById("T_ETA_bugs_table");

  popup.document.write(table.outerHTML);
  popup.document.close();
  if (window.focus) 
    popup.focus();
}
</script>

<form action="{{ url_for('Admin_Email_Processing') }}" method=post>
<ul class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3><span class="label label-primary">
        1. The table of the bugs which should add ETA after Sprint-Accepted
    </span></h3>
    <table id="T_ETA_bugs_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Select ALL<br>
                    <script>
                    $(document).ready(function() {
                        $('#selectall').click(function(event) {  //on click
                            if(this.checked) { // check select status
                                $('.checkbox1').each(function() { //loop through each checkbox
                                    this.checked = true;  //select all checkboxes with class "checkbox1"              
                                });
                            }else{
                                $('.checkbox1').each(function() { //loop through each checkbox
                                    this.checked = false; //deselect all checkboxes with class "checkbox1"                      
                                });        
                            }
                        });
                       
                    });
                    </script>
                    <input name="Custodians" type="checkbox" value="All" class="checkall" id="selectall">
                </th>
                <th>Bug ID</th>
                <th>Summary</th>
                <th>Keywords</th>
                <th>ETA</th>
                <th>Weight</th>
                <th>Priority</th>
                <th>Severity</th>
                <th>Case Count</th>
                <th>fix by product</th>
                <th>Assigned_to</th>
                <th>Highlighted Reasons</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in T_ETA_bug_results %}
            <tr>
                <td><input class=checkbox1 type=checkbox id = T_ETA_{{ entry["bug_id"] }} value = {{ entry["bug_id"] }} name = T_ETA_check_{{ entry["bug_id"] }}></td>
                <input type=hidden value = {{ entry["assigned_rn"] }} name = {{ entry["bug_id"] }}>
                <td><a href=https://bugzilla.eng.vmware.com/show_bug.cgi?id={{ entry["bug_id"] }} target="_blank">{{ entry["bug_id"] }}</a></td>
                <td>{{ entry["short_desc"] }}</td>
                <td><b>{{ entry["keywords"] }}</b></td>
                <td>{{ entry["cf_eta"] }}</td>
                <td>{{ entry["weight"] }}</td>
                <td>{{ entry["priority"] }}</td>
                <td>{{ entry["bug_severity"] }}</td>
                <td>{{ entry["case_count"] }}</td>
                <td>
                    {% for fix_entry in T_ETA_bug_fix_by_results[entry["bug_id"]] %}
                        {% if fix_entry['product'] %}
                            {{fix_entry['product']}}
                        {% endif %}
                        {% if fix_entry['version'] %}
                            -{{fix_entry['version']}}
                        {% endif %}
                        {% if fix_entry['phase'] %}    
                            -{{fix_entry['phase']}}
                        {% endif %}
                        <br>
                    {% endfor %}
                </td>
                <td>{{ entry["assigned_rn"] }}</td>
                <td>{{ entry["highlighted_by"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <textarea class="form-control" name="T_ETA_Message" row="20" placeholder="{{T_ETA_Message}}"></textarea>
    <h3><span class="label label-primary">
        2. The table of the bugs which should check ETA condition e.g, ETA: expired, one week...etc
    </span></h3>
    <b></b>
    <table id="ETA_bugs_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Select ALL<br>
                    <script>
                    $(document).ready(function() {
                        $('#selectall2').click(function(event) {  //on click
                            if(this.checked) { // check select status
                                $('.checkbox2').each(function() { //loop through each checkbox
                                    this.checked = true;  //select all checkboxes with class "checkbox1"              
                                });
                            }else{
                                $('.checkbox2').each(function() { //loop through each checkbox
                                    this.checked = false; //deselect all checkboxes with class "checkbox1"                      
                                });        
                            }
                        });
                       
                    });
                    </script>
                    <input name="Custodians" type="checkbox" value="All" class="checkall" id="selectall2">
                </th>
                <th>Bug ID</th>
                <th>Summary</th>
                <th>ETA</th>
                <th>Keywords</th>
                <th>Weight</th>
                <th>Priority</th>
                <th>Severity</th>
                <th>Case Count</th>
                <th>fix by product</th>
                <th>Assigned_to</th>
                <th>Highlighted Reasons</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in ETA_bug_results %}
            <tr>
                <td><input class=checkbox2 type=checkbox id = ETA_{{ entry["bug_id"] }} value = {{ entry["bug_id"] }} name = ETA_check_{{ entry["bug_id"] }}></td>
                <input type=hidden value = {{ entry["assigned_rn"] }} name = {{ entry["bug_id"] }}>
                <td><a href=https://bugzilla.eng.vmware.com/show_bug.cgi?id={{ entry["bug_id"] }} target="_blank">{{ entry["bug_id"] }}</a></td>
                <td>{{ entry["short_desc"] }}</td>
                <td><b>{{ entry["cf_eta"] }}</b></td>
                <td>{{ entry["keywords"] }}</td>
                <td>{{ entry["weight"] }}</td>
                <td>{{ entry["priority"] }}</td>
                <td>{{ entry["bug_severity"] }}</td>
                <td>{{ entry["case_count"] }}</td>
                <td>
                    {% for fix_entry in ETA_bug_fix_by_results[entry["bug_id"]] %}
                        {% if fix_entry['product'] %}
                            {{fix_entry['product']}}
                        {% endif %}
                        {% if fix_entry['version'] %}
                            -{{fix_entry['version']}}
                        {% endif %}
                        {% if fix_entry['phase'] %}    
                            -{{fix_entry['phase']}}
                        {% endif %}
                        <br>
                    {% endfor %}
                </td>
                <td>{{ entry["assigned_rn"] }}</td>
                <td>{{ entry["highlighted_by"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <textarea class="form-control" name="ETA_Message" row="20" placeholder="{{ETA_Message}}"></textarea>
    
    <h3><span class="label label-primary">
        3. The table of the bugs which are not updated for a long time
    </span></h3>
    <table id="W_U_bugs_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Select ALL<br>
                    <script>
                    $(document).ready(function() {
                        $('#selectall3').click(function(event) {  //on click
                            if(this.checked) { // check select status
                                $('.checkbox3').each(function() { //loop through each checkbox
                                    this.checked = true;  //select all checkboxes with class "checkbox1"              
                                });
                            }else{
                                $('.checkbox3').each(function() { //loop through each checkbox
                                    this.checked = false; //deselect all checkboxes with class "checkbox1"                      
                                });        
                            }
                        });
                       
                    });
                    </script>
                    <input name="Custodians" type="checkbox" value="All" class="checkall" id="selectall3">
                </th>
                <th>Bug ID</th>
                <th>Summary</th>
                <th>Last Modified Time</th>
                <th>ETA</th>
                <th>Keywords</th>
                <th>Weight</th>
                <th>Priority</th>
                <th>Severity</th>
                <th>Case Count</th>
                <th>fix by product</th>
                <th>Assigned_to</th>
                <th>Highlighted Reasons</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in W_U_bug_results %}
            <tr>
                <td><input class=checkbox3 type=checkbox id = W_U_{{ entry["bug_id"] }} value = {{ entry["bug_id"] }} name = W_U_check_{{ entry["bug_id"] }}></td>
                <input type=hidden value = {{ entry["assigned_rn"] }} name = {{ entry["bug_id"] }}>
                <td><a href=https://bugzilla.eng.vmware.com/show_bug.cgi?id={{ entry["bug_id"] }} target="_blank">{{ entry["bug_id"] }}</a></td>
                <td>{{ entry["short_desc"] }}</td>
                <td><b>{{ entry["delta_ts"] }}</b></td>
                <td>{{ entry["cf_eta"] }}</td>
                <td>{{ entry["keywords"] }}</td>
                <td>{{ entry["weight"] }}</td>
                <td>{{ entry["priority"] }}</td>
                <td>{{ entry["bug_severity"] }}</td>
                <td>{{ entry["case_count"] }}</td>
                <td>
                    {% for fix_entry in W_U_bug_fix_by_results[entry["bug_id"]] %}
                        {% if fix_entry['product'] %}
                            {{fix_entry['product']}}
                        {% endif %}
                        {% if fix_entry['version'] %}
                            -{{fix_entry['version']}}
                        {% endif %}
                        {% if fix_entry['phase'] %}    
                            -{{fix_entry['phase']}}
                        {% endif %}
                        <br>
                    {% endfor %}
                </td>
                <td>{{ entry["assigned_rn"] }}</td>
                <td>{{ entry["highlighted_by"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <textarea class="form-control" name="W_U_Message" row="20" placeholder="{{W_U_Message}}"></textarea>
    <br>
<style>
.floating-button {position:fixed; z-index:9999; bottom:15px;width:78%;}
</style>
    <div class="floating-button">
    <h3><button class="btn btn-lg btn-primary btn-block floating-button" type="submit" id="submit_button">Send Email</button></h3>
    </div>
    <br>
    </form>
</ul>
{% endblock %}
{% endif %}
