<head>
    <meta charset="utf-8">
<link rel='stylesheet' type='text/css' href='../static/css/jquery-ui.css'>
<link rel='stylesheet' type='text/css' href='/static/css/dataTables.bootstrap.css'>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/static/css/dataTables.colVis.css">
<script src="../static/js/jquery-1.11.1.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script type='text/javascript' src='../static/js/Chart.js'></script>
<script type='text/javascript' src='/static/js/jquery.dataTables.js'></script>
<script type='text/javascript' src='/static/js/dataTables.colVis.js'></script>
<script type='text/javascript' src='/static/js/dataTables.fixedColumns.js'></script>
<script type="text/javascript" src="/static/js/dataTables.fnGetFilteredNodes.js"></script>
<script type="text/javascript" src="/static/js/dataTables.fnGetHiddenNodes.js"></script>
<script>
    var TA_OWN_lineChartData = 
    {
        labels : [ "{{TA_Own_results[0]['Month']}}", "{{TA_Own_results[1]['Month']}}","{{TA_Own_results[2]['Month']}}","{{TA_Own_results[3]['Month']}}","{{TA_Own_results[4]['Month']}}","{{TA_Own_results[5]['Month']}}","{{TA_Own_results[6]['Month']}}"],
        datasets : 
        [
            {
                label: "My First dataset",
				fillColor : "rgba(151,187,205,0.2)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(151,187,205,1)",
                data : [{{TA_Own_results[0]['Value']}}, {{TA_Own_results[1]['Value']}}, {{TA_Own_results[2]['Value']}}, {{TA_Own_results[3]['Value']}}, {{TA_Own_results[4]['Value']}}, {{TA_Own_results[5]['Value']}}, {{TA_Own_results[6]['Value']}}]
            }
        ]
    }
	window.onload = function()
    {
		var TA_OWN_ctx = document.getElementById("TA_OWN_RESULTS").getContext("2d");
		window.myLine = new Chart(TA_OWN_ctx).Line(TA_OWN_lineChartData, 
        {
			responsive: true
		});
	}
</script>
</head>

<script>
$(document).ready(function() {
    var milestone_table = $('#milestone_table').DataTable(
    {
        dom: 't',
        "lengthMenu": [ [-1, 10, 25, 50], ["All",10, 25, 50] ],
        "order": [[ 1, "desc" ]]
    });

} );
</script>


<body>
    <div width="30%">
    {% if milestone_flag %}
    <font face="arial">Milestone for {{milestone_flag}}</font>
    <table id="milestone_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Name</td>
                <td>ETA</td>
                <td>Weight</td>
            </tr>
        </thead>
        <tbody>
            {% for entry in milestone_results %}
            <tr>
                <td>{{entry["name"]}}</td>
                <td>{{entry["eta"]}}</td>
                <td>{{entry["weight"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}
    <p class="expand-one"><a href="#">Click to see the Sprint-Accepted trend</a></p>
    <div class="content-one">
        <font face="arial">The Sprint-Accepted bugs which are owned by {{assigned}} </font>
        <br>
        <canvas id="TA_OWN_RESULTS" height="450" width="900"></canvas>
    </div> <!--content-one-->
    </div>

<script>
$('.expand-one').click(function(){
    $('.content-one').slideToggle('slow');
});

$('.content-one').slideToggle('slow');
</script>

<style>
div.lcontent-one {
    display:none;
}
</style>

</body>
