{% extends "layout.html" %}
{% set Number = 1 %}
{% if session.logged_in %}
{% block head %}
<link rel='stylesheet' type='text/css' href='static/css/dataTables.bootstrap.css'>
<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="static/css/dataTables.colVis.css">

<script type='text/javascript' src='static/js/jquery-1.11.1.js'></script>
<script type='text/javascript' src='static/js/dataTables.bootstrap.js'></script>
<script type='text/javascript' src='static/js/bootstrap-3.1.1.js'></script>
<script type='text/javascript' src='static/js/jquery.dataTables.js'></script>
<script type='text/javascript' src='static/js/dataTables.colVis.js'></script>
<script type='text/javascript' src='static/js/dataTables.fixedColumns.js'></script>
<script src="static/highstock.js"></script>

<script>
$(document).ready(function() {
	$('#result_table').DataTable( {
		dom: 'C<"clear">lfrtip',
	} );
} );

</script>
{% endblock %}
{% block body%}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Submission Is Approved</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <dl>
    Processing Record
    <table border='1' id="result_table" class="display">
        <thead>
            <tr>
                <th>Number</th>
                <th>Bug ID</th>
                <th>Add</th>
                <th>Remove</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in bugs %}
                <tr>
                <td>{{ Number }}</td>
                <td><a href=https://bugzilla.eng.vmware.com/show_bug.cgi?id={{ entry["bug_id"] }}>{{ entry["bug_id"] }}</a></td>
                <td>{{ entry["Add_keywords"] }}</td>
                <td>{{ entry["Remove_keywords"] }}</td>
                <td>{{ entry["comments"] }}</td>
            </tr>
            {% set Number = Number + 1%}
            {% endfor %}
        </tbody>
    </table>
    </dl>
{% endblock %}
{% endif %}
