{% extends "layout.html" %}
{% block head %}
<link rel='stylesheet' type='text/css' href='static/css/jquery-ui.css'>

<script src="static/js/jquery-1.11.1.js"></script>
<script src="static/js/jquery-ui.js"></script>

<link rel='stylesheet' type='text/css' href='static/css/dataTables.bootstrap.css'>
<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="static/css/dataTables.colVis.css">
<script type='text/javascript' src='static/js/Chart.js'></script>
<script type='text/javascript' src='static/js/dataTables.bootstrap.js'></script>
<script type='text/javascript' src='static/js/bootstrap-3.1.1.js'></script>
<script type='text/javascript' src='static/js/jquery.dataTables.js'></script>
<script type='text/javascript' src='static/js/dataTables.colVis.js'></script>
<script type='text/javascript' src='static/js/dataTables.fixedColumns.js'></script>
<script type="text/javascript" src="static/js/dataTables.fnGetFilteredNodes.js"></script>
<script type="text/javascript" src="static/js/dataTables.fnGetHiddenNodes.js"></script>
{% endblock %}
{% block body %}
<ul class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form action="" method=post>
        <dl>
                <div style="width:50%">
                    <h1 class="page-header">
                        <h2 class="sub-header">Internal Error 500</h2>
                    </h1>
                </div>
        <dl>

{% endblock %}
                
                      
