<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="icon" href="static/images/tab_figure.ico">
    <title>TriageRobot, from VMware cpd-team</title>
    <link rel='stylesheet' type='text/css' href='static/css/bootstrap-3.1.1.css'>
    <!-- <link rel="stylesheet" type='text/css' href="static/css/bootstrap.css" >-->
    <link href="static/css/dashboard.css" rel="stylesheet">
    {%block head%}
    {%endblock%}
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TriageRobot {% if session.username %}- User: {{session.username}} {% endif %}</a>
            </div>
            <div class="navbar-collapse collapse">
                {% if not session.logged_in %}
                    <form class="navbar-form navbar-right" role="form" action = "{{url_for('Login')}}" method = post>
                        <div class="form-group">
                            <input type="text" placeholder="Account" class="form-control" name=BG_account>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" name=BG_password>
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                {% else %}
                    <form class="navbar-form navbar-right" role="form">
                        <a href="https://vmwaresearch.vmware.com/search?proxystylesheet=vmlinksearch_frontend&getfields=*&site=People&q={{session.username}}@vmware.com" class="btn btn-info">Profile</a>
                        <a href={{url_for('Logout')}} class="btn btn-success">Logout</a>
                    </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://wiki.eng.vmware.com/CPD/TriageRobot">Wiki</a></li>
                    <li><a href="https://email.vmware.com">Email</a></li>
                    <li><a href="https://wiki.eng.vmware.com/CPD/TriageRobot">Help</a></li>
                </ul>
            </div>
            
            
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" id="div_sidebar">
                {% if session.logged_in%}
                    <ul class="nav nav-sidebar">
                        {% if session.admin %}
                            <li {% if request.path == url_for('Admin_Custom_Webpage') %} class="active" {% endif %} ><!-- active open --><a href={{url_for('Admin_Custom_Webpage')}}><i class="icon icon-th-list"></i> <span>Administrator</span> <span class="label">1</span></a>
                                <li class="submenu"><!-- active open -->
                                <ul> <!-- li class="active" -->
                                    <li id="Admin_List" ><a href="{{url_for('Admin_Custom_List')}}">{% if request.path == url_for('Admin_Custom_List') %}<b>{%endif%}Admin List{% if request.path == url_for('Admin_Custom_List') %}</b>{%endif%}</a></li>
                                    <li id="Admin_Update"><a href={{url_for('Admin_Custom_Update_Confirm')}}>{% if request.path == url_for('Admin_Custom_Update_Confirm') %}<b>{%endif%}Manual Update{% if request.path == url_for('Admin_Custom_Update_Confirm') %}</b>{%endif%}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li {% if request.path in [url_for('Sprint_Schedule')] %} class="active" {% endif %}><a href={{url_for('Sprint_Schedule')}}>Sprint Schedule</a></li>
                        <li {% if request.path in [url_for('Query'), '/', url_for('Show_Entries'), url_for('Entries_Processing')]%} class="active" {% endif %}><a href={{url_for('Query')}}>Triage Decision</a></li>
                        <li {% if request.path in [url_for('QueryX'), url_for('Show_EntriesX')]%} class="active" {% endif %}><a href={{url_for('QueryX')}}>Kanban (BETA)</a></li>
                        <li {% if request.path == url_for('Admin_Custom_Email') or request.path == url_for('Admin_Email_Processing') %} class="active" {% endif %}><a href={{url_for('Admin_Custom_Email')}}>Email Notification</a></li>
                        <li {% if request.path == url_for('Triage_Report') %} class="active" {% endif %}><a href={{url_for('Triage_Report')}}>Triage Report</a></li>
                        <li {% if request.path == url_for('Custom_Webpage') %} class="active" {% endif %}><a href={{url_for('Custom_Webpage')}}>Customize</a></li>
                            <li class="submenu"><!-- active open -->
                            <ul>
                                <li id="Custom_Setting"><a href="{{url_for('Custom_Setting')}}">{% if request.path == url_for('Custom_Setting') %}<b>{%endif%}Settings{% if request.path == url_for('Custom_Setting') %}</b>{%endif%}</a></li>
                                <li id="Custom_Alias"><a href="{{url_for('Custom_Alias')}}">{% if request.path == url_for('Custom_Alias') %}<b>{%endif%}Alias{% if request.path == url_for('Custom_Alias') %}</b>{%endif%}</a></li>
                                </ul>
                            </li>
                        <li {% if request.path == url_for('Download_chrome_plugin') %} class="active" {% endif %}><a href={{url_for('Download_chrome_plugin')}}>Download Chrome Plugin</a></li>
                    </ul>
                {% endif %}
            </div>
            {% if error or message%}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error: </strong> {{error}}.
                </div>
                {% endif %}
                {% if message %}
                <div class="alert alert-success" role="alert">
                    <strong>Message: </strong> {{message}}.
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% if session.logged_in%}
    {% block body %}
    {% endblock %}
    {% endif %}
</body>

