{% extends "layout.html" %}
{% if session.logged_in %}
<head>
{%block head%}
<link rel='stylesheet' type='text/css' href='static/css/dataTables.bootstrap.css'>
<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="static/css/dataTables.colVis.css">
<script type='text/javascript' src='static/js/jquery-1.11.1.js'></script>
<script type='text/javascript' src='static/js/dataTables.bootstrap.js'></script>
<script type='text/javascript' src='static/js/bootstrap-3.1.1.js'></script>
<script type='text/javascript' src='static/js/jquery.dataTables.js'></script>
<script type='text/javascript' src='static/js/dataTables.colVis.js'></script>
<script type='text/javascript' src='static/js/dataTables.fixedColumns.js'></script>
<script type="text/javascript" src="static/js/dataTables.fnGetFilteredNodes.js"></script>
<script type="text/javascript" src="static/js/dataTables.fnGetHiddenNodes.js"></script>
<!--
When setting the name of posted variables, the name of "check_id", "comment_id" should not be assigned since I used the check_id to represent the checkboxes and comment_id to represent the comments
07/15/2014 ShinYeh
-->
<link rel="stylesheet" type="text/css" href="static/css/jquery-ui.css">
<script type='text/javascript' src='static/js/Chart.js'></script>
<script type='text/javascript' src='static/js/jquery-ui.js'></script>

<script>
/* Create an array with the values of all the input boxes in a column, parsed as numbers */
$.fn.dataTable.ext.order['dom-text-numeric'] = function  ( settings, col )
{
    return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
        return $('input', td).val() * 1;
    } );
}

$.fn.dataTable.ext.order['dom-text'] = function  ( settings, col )
{
    return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
        return $('input', td).val();
    } );
}
</script>


<script>
    $(function() {
        $(".search-product").autocomplete({
            source: "{{url_for("autocomplete_product")}}",
            minLength: 2
        });
    });
</script>

</style>

<script>    
var oTable;
$(document).ready(function() {
    $('#div_sidebar').fadeOut('slide',function(){});
/*
    e1 = document.getElementById("submit_button");
    e1.style.width = "90%";
    e1.style.marginLeft = 10;
*/
    $('.main').each(function(){
        this.style.width = "100%";
        this.style.marginLeft = 0;
    })

    var oTable = $('#bugs_table').DataTable({
        paging:         true, 
        "lengthMenu": [ [-1, 5, 10, 25, 50], ["All", 5, 10, 25, 50] ],
        dom: 'C<"clear">lfrtip',
        //scrollY:        "600px",
        //scrollX: true,
        "bSort":false,
        "aoColumns": [ 
            {"bVisible":true},
            {"bVisible":true},  //Number
            {"bVisible":true},  //BugID
            {"bVisible":true,"bSearchable":false},  //Summary-short_desc
            {"bVisible":true},  //Keywords
            {"bVisible":true},  //Weights
            {"bVisible":false}, //Priority
            {"bVisible":false}, //Severity
            {"bVisible":false}, //Case count
            {"bVisible":true, "sWidth":"20%", "orderDataType": "dom-text"},  //Fix_by_x
            {"bVisible":false},  //Assigned to
            {"bVisible":true},  //ETA
            {"bVisible":false},  //Last Modified
            {"bVisible":true, "bSearchable":false},  //Highlighted Reasons
            {"bVisible":true, "bSearchable":false},
        ],
    } );

/*
    var oTable2 = $('#summary_table').DataTable({
        paging:         true,
        "lengthMenu": [ [-1, 5, 10, 25, 50], ["All", 5, 10, 25, 50] ],
        dom: 'C<"clear">lfrtip',
        //scrollY:        "600px",
        scrollX: true,
        "bSort":false,
        "aoColumns": [
            {"bVisible":true},  //Number
            {"bVisible":true},  //BugID
            {"bVisible":true},  //Summary-short_desc
        ],
    } );
*/

    /*$('form').submit( function () {

       //Loop through the TR records
       oTable.$("td").each(function(index, nRow,name){
            //Select the input from the row
            //var rowInput = $("input", nRow);
            //Select the text area from the row
            //var rowTextarea = $("textarea", nRow);

            //Add to form
            var nHidden = document.createElement( 'input' );
            nHidden.type = 'hidden';
            nHidden.name = "hidden_input_"+index+name;

            //Assuming there is one input per row
            nHidden.value = $("input", nRow).val();
            //alert(nHidden.value);
            $(".form").append( nHidden );
            console.log(nHidden);
        });
        return false;
        $(".form").submit();
        });*/
} );
</script>

<link rel="stylesheet" type="text/css" href="static/css/vis.css">
<script type="text/javascript" src="static/js/vis.js"></script>


{% endblock %}
</head>
<body>

{% block body%}

{% set pending_cnt = [] %}
{% set debugging_cnt = [] %}
{% set ready_cnt = [] %}
{% set accepted_cnt = [] %}
{% set oneweek_cnt = [] %}
{% set twoweek_cnt = [] %}
{% set total_cnt = [] %}
{% set people_list = [] %}
{% for entry in bugs %}
    {% if total_cnt.append(1) %} {% endif %}
    {% if entry["keywords"].find("Sprint-Accepted") >= 0 %}
        {% if accepted_cnt.append(1) %} {% endif %}
        {% if people_list.append(entry["assigned_rn"]) %} {% endif %}
        {% if people_list.append("Sprint-Accepted") %} {% endif %}
    {% elif entry["keywords"].find("sprint-ready") >= 0 %}
        {% if ready_cnt.append(1) %} {% endif %}
        {% if people_list.append(entry["assigned_rn"]) %} {% endif %}
        {% if people_list.append("sprint-ready") %} {% endif %}
    {% elif entry["keywords"].find("Debugging") >= 0 %}
        {% if entry["aged"] >= 14 %}
            {% if twoweek_cnt.append(1) %} {% endif %}
            {% if people_list.append(entry["assigned_rn"]) %} {% endif %}
            {% if people_list.append("No update in 2+ weeks") %} {% endif %}
        {% elif entry["aged"] >= 7 %}
            {% if oneweek_cnt.append(1) %} {% endif %}
            {% if people_list.append(entry["assigned_rn"]) %} {% endif %}
            {% if people_list.append("No update in 1 week") %} {% endif %}
        {% endif %}
        {% if debugging_cnt.append(1) %} {% endif %}
        {% if people_list.append(entry["assigned_rn"]) %} {% endif %}
        {% if people_list.append("Debugging") %} {% endif %}
    {% elif actbugids.find(entry["bug_id"]|string) >= 0 %}
        {% if pending_cnt.append(1) %} {% endif %}
        {% if people_list.append(entry["assigned_rn"]) %} {% endif %}
        {% if people_list.append("Pending") %} {% endif %}
    {% endif %}
{% endfor %}

{% set piechart = 0 %}
{% set barchart = 1 %}
{% if piechart == 1 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Kanban State', 'Count'],
          ['Total : {{ total_cnt|length }}', {{ total_cnt|length }}],
          ['Pending : {{ pending_cnt|length }}',     {{ pending_cnt|length }}],
          ['Debugging : {{ debugging_cnt|length }}',     {{ debugging_cnt|length }}],
          ['sprint-ready : {{ ready_cnt|length }}',      {{ ready_cnt|length }}],
          ['Sprint-Accepted : {{ accepted_cnt|length }}',  {{ accepted_cnt|length }}],
        ]);

        var options = {
          backgroundColor: '#eeeeff',
          is3D: true,
          pieSliceTextStyle: {
            color: 'black',
          },
          slices: {
            0: { color: '#cccccc' },
            1: { color: '#444444' },
            2: { color: '#aaffaa' },
            3: { color: '#ffffaa' },
            4: { color: '#ffaaaa' }
          },
          legend: {textStyle: {
            color: 'black',
            fontSize: 20,
            bold: true,
            italic: false },
            position: 'bottom',
            alignment: 'center',
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
        google.visualization.events.addListener(chart, 'click', function(targetID) {
          var tid = targetID.targetID;
          var txt = document.getElementById('bugs_table_filter');
          txt = txt.children[0].children[0];
          if (tid == "slice#1" || tid == "legendentry#1")
              txt.value = "Pending";
          else if (tid == "slice#2" || tid == "legendentry#2")
              txt.value = "Debugging";
          else if (tid == "slice#3" || tid == "legendentry#3")
              txt.value = "sprint-ready";
          else if (tid == "slice#4" || tid == "legendentry#4")
              txt.value = "Sprint-Accepted";
          else if (tid == "slice#0" || tid == "legendentry#0")
              txt.value = "";
          var table = $('#bugs_table').DataTable();
          table.search(txt.value).draw();
        });
      }
    </script>
    <div id="piechart_3d" style="width: 100%; height: 400px;"></div>
{% elif barchart == 1 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var column_chart = 1;
        var data = new google.visualization.arrayToDataTable([
          ['State', 'No update in 2+ weeks', { role: 'style' }, 'No update in 1 week', { role: 'style' }, 'Count', { role: 'style' }, { role: 'annotation' } ],
          ['Pending', 0, 'color: #444444', 0, 'color: #444444', {{pending_cnt|length}}, 'color: #444444', '{{pending_cnt|length}}'],
          ['Debugging', {{twoweek_cnt|length}}, 'color: #006600', {{oneweek_cnt|length}}, 'color: #44aa44', {{debugging_cnt|length-oneweek_cnt|length-twoweek_cnt|length}}, 'color: #aaffaa', '{{debugging_cnt|length}}'],
          ['sprint-ready', 0, 'color: #ffffaa', 0, 'color: #ffffaa', {{ready_cnt|length}}, 'color: #ffffaa', '{{ready_cnt|length}}'],
          ['Sprint-Accepted', 0, 'color: #ffaaaa', 0, 'color: ffaaaa', {{accepted_cnt|length}}, 'color: #ffaaaa', '{{accepted_cnt|length}}'],
        ]);

        var options = {
          title: "Total number of PR: {{total_cnt|length}}",
          backgroundColor: '#eeeeff',
          legend: { position: "none" },
          chartArea: {width: '30%', height: '70%'},
          isStacked: true,
          annotations: { alwaysOutside:true, highContrast: true }
        };

        var chart;
        if (column_chart == 1)
            chart  = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        else
            chart  = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        google.visualization.events.addListener(chart, 'click', function(targetID) {
          var selections = [
              ["hAxis#0#label#0", "vAxis#0#label#0", "bar#2#0", "annotationtext#2#0#0", "tooltip#2#0", "Pending"],
              ["hAxis#0#label#1", "vAxis#0#label#1", "bar#2#1", "annotationtext#2#1#0", "tooltip#2#1", "Debugging"],
              ["---------------", "---------------", "bar#1#1", "--------------------", "tooltip#1#1", "\"No update in 1 week\""],
              ["---------------", "---------------", "bar#0#1", "--------------------", "tooltip#0#1", "\"No update in 2+ weeks\""],
              ["hAxis#0#label#2", "vAxis#0#label#2", "bar#2#2", "annotationtext#2#2#0", "tooltip#2#2", "sprint-ready"],
              ["hAxis#0#label#3", "vAxis#0#label#3", "bar#2#3", "annotationtext#2#3#0", "tooltip#2#3", "Sprint-Accepted"],
              //["hAxis#0#label#4", "vAxis#0#label#4", "bar#0#4", "annotationtext#0#4#0", ""]
          ];
          var tid = targetID.targetID;
          var txtvalue = '';
          var i, j;
          for (i=0; i<selections.length; i++) {
              for (j=0; j<5; j++) {
                  if (tid == selections[i][j]) {
                     txtvalue = selections[i][5];
                     break;
                  }
              }
              if (j < 4)
                  break;
          }
          var txt = document.getElementById('bugs_table_filter');
          txt = txt.children[0].children[0];
          txt.value = txtvalue;
          var table = $('#bugs_table').DataTable();
          table.search(txt.value).draw();
        });
      }
    </script>
    <div id="chart_div" style="width: 100%; height: 300px;"></div>
{% else %}

<script>
function filter_my_table(id) {
    var txt = document.getElementById('bugs_table_filter');
    txt = txt.children[0].children[0];
    var v = id;
    txt.value = v;
    var table = $('#bugs_table').DataTable();
    table.search(txt.value).draw();
}
</script>
<table id="summary_table" align="right">
<tbody>
<tr>
    <td onclick="filter_my_table('');" style="background:#cccccc;color:black;font-weight:bold;font-size:30px;"> &nbsp;&nbsp;&nbsp;&nbsp; Total : {{ total_cnt|length }} &nbsp;&nbsp;&nbsp;&nbsp; </td>
    <td onclick="filter_my_table('Debugging');" style="background:#aaffaa;font-weight:bold;font-size:30px;"> &nbsp;&nbsp;&nbsp;&nbsp; Debugging : {{ debugging_cnt|length }} &nbsp;&nbsp;&nbsp;&nbsp; </td>
    <td onclick="filter_my_table('sprint-ready');" style="background:#ffffaa;font-weight:bold;font-size:30px;"> &nbsp;&nbsp;&nbsp;&nbsp; sprint-ready : {{ ready_cnt|length }} &nbsp;&nbsp;&nbsp;&nbsp; </td>
    <td onclick="filter_my_table('Sprint-Accepted');" style="background:#ffaaaa;font-weight:bold;font-size:30px;"> &nbsp;&nbsp;&nbsp;&nbsp;Sprint-Accepted : {{ accepted_cnt|length }} &nbsp;&nbsp;&nbsp;&nbsp; </td>
</tr>
</tbody>
</table>
{% endif %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id='div_main'>
<form name="bugs_table_form" action="" id="bugs_table_form" method="post">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1 class="page-header">
<p class="sub-header">
<table width="100%" style="white-space:nowrap;font-size:10pt;">
  <tr>
    <td style="font-size:22pt" width="100%">CPD - Kanban Status</td>
    <td style="text-align:right;">
    <script>
    $(document).ready(function(){
      $('#selectall').click(function(){
        if ($("input[type='checkbox']").prop("checked"))
        {
           $(':checkbox').prop('checked', false);
           $(this).text('Check all');
        }
        else{
          $(':checkbox').prop('checked', true);
          $(this).text('Uncheck all');
        }  
      });
      $('#selectpending').click(function(){
        $("input[type='checkbox'][name='checkbox-kanbanstate']").each(function(){
          if ($(this).val() == "Pending") {
            $(this).prop('checked', true);
          } else {
            $(this).prop('checked', false);
          }
        });
      });
      $('#selectdebugging').click(function(){
        $("input[type='checkbox'][name='checkbox-kanbanstate']").each(function(){
          if ($(this).val() == "Debugging") {
            $(this).prop('checked', true);
          } else {
            $(this).prop('checked', false);
          }
        });
      });
      $('#selectready').click(function(){
        $("input[type='checkbox'][name='checkbox-kanbanstate']").each(function(){
          if ($(this).val() == "sprint-ready") {
            $(this).prop('checked', true);
          } else {
            $(this).prop('checked', false);
          }
        });
      });
      $('#selectaccepted').click(function(){
        $("input[type='checkbox'][name='checkbox-kanbanstate']").each(function(){
          if ($(this).val() == "Sprint-Accepted") {
            $(this).prop('checked', true);
          } else {
            $(this).prop('checked', false);
          }
        });
      });
      $("#bugzillalist").click(function() {
        var selected = new Array();
        var href = '';
        var chk = $('input[type="checkbox"][name="checkbox-kanbanstate"]:checked');
        //alert(chk.length);
        $(chk).each(function(i){
            selected.push($(this).attr('id'));
        });
        //alert(selected);
        if (chk.length == 0) {
          alert("Please select at least one Pr");
          return false;
        }
        else {
          var default_href = "http://bugzilla.eng.vmware.com//buglist.cgi?query_format=advanced&bug_id=";
          $(this).attr('href',default_href);
          var href=$(this).attr('href')+ selected.join("%2C");
          $(this).attr('target','_blank');
          $(this).attr('href',href);
        }
    });
    });
    </script> 
      | <a id="selectall">Check all</a>
<!--
      | <a id="selectpending">Check Pending</a>
      | <a id="selectdebugging">Check Debugging</a>
      | <a id="selectready">Check sprint-ready</a>
      | <a id="selectaccepted">Check Sprint-Accepted</a>
-->
      | <a id="bugzillalist">View list in Bugzilla</a> |
    </td>
  </tr>
</table>
</p>
</h1>
<script>
function imgError(image) {
    image.onerror = "";
    image.src = "/static/images/avatar.png";
    return true;
}
</script>
<table width="100%">
    <tr width="100%" style="background:#aaffff;font-weight:bold;font-size:20px;">
        <td>Sprint</td>
        <td>From</td>
        <td>To</td>
        <td>fixed</td>
        <td>unable to duplicate</td>
        <td>duplicate</td>
        <td>wont fix</td>
        <td>user error</td>
        <td>not a bug</td>
        <td>Total</td>
    </tr>
    <tr style="background:#ddffff;font-size:15px;">
        <td>Last Sprint</td>
        <td>{{ last_sprint_begin }}</td>
        <td>{{ last_sprint_end }} </td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_last_link['fixed']}}">{{ bug_st_last['fixed'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_last_link['unable to duplicate']}}">{{ bug_st_last['unable to duplicate'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_last_link['duplicate']}}">{{ bug_st_last['duplicate'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_last_link['wont fix']}}">{{ bug_st_last['wont fix'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_last_link['user error']}}">{{ bug_st_last['user error'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_last_link['not a bug']}}">{{ bug_st_last['not a bug'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_last_link['total']}}">{{ bug_st_last['total'] }}</a></td>
    </tr>
    <tr  style="background:#ddffff;font-size:15px;">
        <td>Current Sprint</td>
        <td>{{ this_sprint_begin }}</td>
        <td>{{ this_sprint_end }} </td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_this_link['fixed']}}">{{ bug_st_this['fixed'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_this_link['unable to duplicate']}}">{{ bug_st_this['unable to duplicate'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_this_link['duplicate']}}">{{ bug_st_this['duplicate'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_this_link['wont fix']}}">{{ bug_st_this['wont fix'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_this_link['user error']}}">{{ bug_st_this['user error'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_this_link['not a bug']}}">{{ bug_st_last['not a bug'] }}</a></td>
        <td><a target="_blank" href="https://bugzilla.eng.vmware.com/buglist.cgi?query_format=advanced&bug_id={{bug_st_this_link['total']}}">{{ bug_st_this['total'] }}</a></td>
    </tr>
</table>
<br>
<table id="bugs_table" class="display" cellspacing="5px" width="100%">
<thead>
                <tr width="100%" hidden="true">
                  <td />
                  <td>#</td>
                  <td>Bug ID</td>
                  <td>Summary</td>
                  <td>Kanban State</td>
                  <td>Weight</td>
                  <td>Priority</td>
                  <td>Severity</td>
                  <td>Case Count/Open</td>
                  <td>Fix By</td>
                  <td>Assigned_to</td>
                  <td>ETA</td>
                  <td>Last Modified</td>
                  <td>Highlighted<br>Reasons</td>
                  <td>Comments</td>
                </tr>
</thead>

        <tbody width="100%">
        {% set prev_name = "" %}
        {% set cnt = 1 %}
        {% for entry in bugs %}
            {% if entry["assigned_rn"] != prev_name %}
                <tr style="background: #aaaaff; font-size: 50px;" width="100%">
                    <td /><td /><td><img src=https://orgchart.vmware.com/employees/{{ entry["assigned_rn"] }}.jpg height="70" width="70" onerror="imgError(this);"/></td>
                    <td>{{ entry["assigned_rn"] }}</td>
                    {% set people_key = [] %}
                    {% for pk1 in people_list %}
                        {% if pk1 == entry["assigned_rn"] %}
                            {% if people_key.append(people_list[loop.index]) %} {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td><font color="#aaaaff" size="0px" hidden="true">{{ people_key|join(',') }}</font></td>
                    <td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
                </tr>
                <tr style="font-weight:bold;background:#aaaaff;" width="100%">
                  <td />
                  <td>#</td>
                  <td>Bug ID</td>
                  <td>Summary</td>
                  <td>Kanban State</td>
                  <td>Weight</td>
                  <td>Priority</td>
                  <td>Severity</td>
                  <td>Case Count/Open</td>
                  <td>Fix By</td>
                  <td>Assigned_to</td>
                  <td>ETA</td>
                  <td>Last Modified</td>
                  <td>Highlighted<br>Reasons</td>
                  <td>Comments</td>
                </tr>

            {% set cnt = 1 %}
            {% endif %}
            {% set kanban_state = "" %}
            {% if entry["keywords"].find("Sprint-Accepted") >= 0 %}
            <tr style="background:#ffaaaa;">
            {% set kanban_state = "Sprint-Accepted" %}
            {% elif entry["keywords"].find("sprint-ready") >= 0 %}
            <tr style="background:#ffffaa;">
            {% set kanban_state = "sprint-ready" %}
            {% elif entry["keywords"].find("Debugging") >= 0 %}
            <tr style="background:#aaffaa;">
            {% set kanban_state = "Debugging" %}
            {% elif actbugids.find(entry["bug_id"]|string) >= 0 %}
            <tr style="background:#444444;color:white;">
            {% set kanban_state = "Pending" %}
            {% else %}
            <tr>
            {% endif %}
                <td><input type="checkbox" name='checkbox-kanbanstate' value='{{kanban_state}}' id='{{entry["bug_id"]}}'> </td>
                <td style="font-weight:bold;" nowrap="nowrap"> {{ cnt }} </td>
                <td><a href=https://bugzilla.eng.vmware.com/show_bug.cgi?id={{ entry["bug_id"] }} target="_blank">{{ entry["bug_id"] }}</a></td>
                <td>{{ entry["short_desc"] }}</td>
                <td style="font-weight:bold;" nowrap="nowrap">{{ kanban_state }}
                   {% if kanban_state == "Debugging" %}
                       {% if entry["aged"] >= 14 %}
                          <img src='static/images/red.png' width='24' height='24' title='No update in the past 2 weeks' />
                          <font size="0px" hidden="true">No update in 2+ weeks</font>
                       {% elif entry["aged"] >= 7 %}
                          <img src='static/images/yell.png' width='24' height='24' title='No update in the past 1 week' />
                          <font size="0px" hidden="true">No update in 1 week</font>
                       {% endif %}
                   {% endif %}
                </td>
                <td style="color:red;font-weight:bold;">{{ entry["weight"] }}</td>
                <td>{{ entry["priority"] }}</td>
                <td>{{ entry["bug_severity"] }}</td>
                <td>{{ entry["case_count"] }}/{{ allcases.get(entry["bug_id"],0) }} </td>
                
                <!--The following two scripts are implemented for auto-completion-->
                <td nowrap="nowrap">
                    {% for fix_entry in fix_by[entry["bug_id"]] %}
                        <p> {{ fix_entry['product'] }} - {{ fix_entry['version'] }} - {{ fix_entry['phase'] }}
                    {% endfor %}
                </td>
                <td style="font-weight:bold;">{{ entry["assigned_rn"] }}</td>
                <td nowrap="nowrap">{{ entry["cf_eta"] }}</td>
                <td nowrap="nowrap">{{ entry["delta_ts"] }}</td>
                <td>{{ entry["highlighted_by"] }}</td>
                <td><a href="http://patchtool.eng.vmware.com/dtool/triage/index/scratch?bug_id={{ entry["bug_id"] }}" target="_blank">Discussion Link</a></td>
            </tr>
        {% set prev_name = entry["assigned_rn"] %}
        {% set cnt = cnt + 1 %}
        {% endfor %}
        </tbody>
    </table>
    <input type=hidden name= assigned_to value= {{assigned}}>
    <!-- <button id = "button" type = "submit">Submit</button> -->

    <style>
    .floating-button {position:fixed; z-index:9999; bottom:15px;width:78%;}
    </style>
    <!--<h3><button class="btn btn-lg btn-primary btn-block floating-button" type="submit" id="submit_button">Submit Change</button></h3>-->
    <br>
    <style>
    .mini-submenu{
      width: 1%;
      position:fixed; 
      z-index:9999; 
      top:50%;
      left:0px;
    }
    .mini-submenu-hide{
      width: 1%;
      position:fixed; 
      z-index:9999; 
      top:50%;
      left:16%;
      display:none;
    }
    </style>
    <br>
    </form>
    <h3><button class="btn btn-lg btn-primary btn-block mini-submenu" type='button'>-<br>-<br>-</button></h3>
    <h3><button class="btn btn-lg btn-primary btn-block mini-submenu-hide" type='button'><<br><<br><</button></h3>
</div>



<script>
$(function(){

    $('.mini-submenu').on('click',function(){       
        $('#div_sidebar').fadeIn('slide',function(){});
        $('.mini-submenu-hide').fadeIn('slide',function(){});
        $('.mini-submenu').hide();

/*
        e1 = document.getElementById("submit_button");
        e1.style.width = "75%";
*/
        $('.main').each(function(){
            this.style.width = "100%";
            this.style.marginLeft = "10%";
        })

    })

    $('.mini-submenu-hide').on('click',function(){       
        $('.mini-submenu-hide').hide();
        $('.mini-submenu').fadeIn('slide',function(){});

        $('#div_sidebar').fadeOut('slide',function(){});
/*
        e1 = document.getElementById("submit_button");
        e1.style.width = "90%";
        //e1.style.marginLeft = '0px';
*/
        $('.main').each(function(){
            this.style.width = "100%";
            this.style.marginLeft = '0px';
        })
    })

})
</script>
{% endblock %}
</body>
{% endif %}
