{% extends "layout.html" %}
{% if session.logged_in %}
<head>
{%block head%}
<link rel='stylesheet' type='text/css' href='static/css/dataTables.bootstrap.css'>
<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="static/css/dataTables.colVis.css">
<script type='text/javascript' src='static/js/jquery-1.11.1.js'></script>
<script type='text/javascript' src='static/js/dataTables.bootstrap.js'></script>
<script type='text/javascript' src='static/js/bootstrap-3.1.1.js'></script>
<script type='text/javascript' src='static/js/jquery.dataTables.js'></script>
<script type='text/javascript' src='static/js/dataTables.colVis.js'></script>
<script type='text/javascript' src='static/js/dataTables.fixedColumns.js'></script>
<script type="text/javascript" src="static/js/dataTables.fnGetFilteredNodes.js"></script>
<script type="text/javascript" src="static/js/dataTables.fnGetHiddenNodes.js"></script>
<!--
When setting the name of posted variables, the name of "check_id", "comment_id" should not be assigned since I used the check_id to represent the checkboxes and comment_id to represent the comments
07/15/2014 ShinYeh
-->
<link rel="stylesheet" type="text/css" href="static/css/jquery-ui.css">
<script type='text/javascript' src='static/js/Chart.js'></script>
<script type='text/javascript' src='static/js/jquery-ui.js'></script>

<script>
/* Create an array with the values of all the input boxes in a column, parsed as numbers */
$.fn.dataTable.ext.order['dom-text-numeric'] = function  ( settings, col )
{
    return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
        return $('input', td).val() * 1;
    } );
}

$.fn.dataTable.ext.order['dom-text'] = function  ( settings, col )
{
    return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
        return $('input', td).val();
    } );
}
</script>


<script>
    $(function() {
        $(".search-product").autocomplete({
            source: "{{url_for("autocomplete_product")}}",
            minLength: 2
        });
    });
</script>

<script>    
var oTable;
$(document).ready(function() {
    var oTable = $('#bugs_table').DataTable({
        paging:         true, 
        "lengthMenu": [ [-1, 10, 25, 50], ["All",10, 25, 50] ],
        dom: 'C<"clear">lfrtip',
        scrollY:        "300px",
        scrollX: true,
        "aoColumns": [ 
            {"bVisible":true},  //Checkbox
            {"bVisible":true},  //BugID
            {"bVisible":true, "sWidth": "30%"},  //Summary-short_desc
            {"bVisible":true},  //Keywords
            {"bVisible":true},  //Weights
            {"bVisible":false}, //Priority
            {"bVisible":false}, //Severity
            {"bVisible":false}, //Case count
            {"bVisible":true, "sWidth": "32%", "orderDataType": "dom-text"},  //Fix_by_x
            {"bVisible":true},  //Assigned to
            {"bVisible":true},  //ETA
            {"bVisible":true},  //Last Modified
            {"bVisible":true},  //Highlighted Reasons
            {"bVisible":true}   //Comments
        ]
    } );
    
    /*$('form').submit( function () {

       //Loop through the TR records
       oTable.$("td").each(function(index, nRow,name){
            //Select the input from the row
            //var rowInput = $("input", nRow);
            //Select the text area from the row
            //var rowTextarea = $("textarea", nRow);

            //Add to form
            var nHidden = document.createElement( 'input' );
            nHidden.type = 'hidden';
            nHidden.name = "hidden_input_"+index+name;

            //Assuming there is one input per row
            nHidden.value = $("input", nRow).val();
            //alert(nHidden.value);
            $(".form").append( nHidden );
            console.log(nHidden);
        });
        return false;
        $(".form").submit();
        });*/
} );
</script>

<script>
$(document).ready(function() {
    var milestone_table = $('#milestone_table').DataTable(
    {
        "lengthMenu": [ [-1, 10, 25, 50], ["All",10, 25, 50] ],
        "order": [[ 1, "desc" ]]
    });
} );
</script>

<script>
    var lineChartData = 
    {
        labels : [ "{{triage_date[0]['Month']}}", "{{triage_date[1]['Month']}}","{{triage_date[2]['Month']}}","{{triage_date[3]['Month']}}","{{triage_date[4]['Month']}}","{{triage_date[5]['Month']}}","{{triage_date[6]['Month']}}"],
        datasets : 
        [
            {
                label: "My First dataset",
				fillColor : "rgba(151,187,205,0.2)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(151,187,205,1)",
                data : [{{triage_date[0]['Value']}}, {{triage_date[1]['Value']}}, {{triage_date[2]['Value']}}, {{triage_date[3]['Value']}}, {{triage_date[4]['Value']}}, {{triage_date[5]['Value']}}, {{triage_date[6]['Value']}}]
            }
        ]
    }
	window.onload = function()
    {
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, 
        {
			responsive: true
		});
	}
</script>
<link rel="stylesheet" type="text/css" href="static/css/vis.css">
<script type="text/javascript" src="static/js/vis.js"></script>


{% endblock %}
</head>
<body>
{% block body%}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div style = "width:40%">
        {% if query["fix_by_product"] %}
            {% set fix_by_x = query["fix_by_product"] %}
        {% endif %}
        {% if query["fix_by_version"] %}
            {% set fix_by_x = fix_by_x + '-' + query["fix_by_version"] %}
        {% endif %}
        {% if query["fix_by_phase"] %}
            {% set fix_by_x = fix_by_x + '-' + query["fix_by_phase"] %}
        {% endif %}
        <h3><span class="label label-primary">
            The Statistic of Triage-Accepted of {{assigned}}
        </span></h3>
        {% if fix_by_x %}
        <h3><span class="label label-info">
            {{fix_by_x}}
        </span></h3>
        {% endif %}
    <canvas id="canvas" height="450" width="900"></canvas>
    </div>
    {% if milestone_flag %}
        <h3><span class="label label-primary">
        Milestone Record of {{query["fix_by_product"]}}-{{query["fix_by_version"]}}
        </span></h3>
        <table id="milestone_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>ETA</td>
                    <td>Weight</td>
                </tr>
            </thead>
            <tbody>
                {% for entry in milestone_results %}
                <tr>
                    <td>{{entry["name"]}}</td>
                    <td>{{entry["eta"]}}</td>
                    <td>{{entry["weight"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <!-- This part is removed since we modified the figure type-->
            <!--
            
            <div id="Milestone_Timeline" style="width:40%">Milestone Timeline</div>
                <script type="text/javascript">
                // DOM element where the Timeline will be attached
                var container = document.getElementById('Milestone_Timeline');
    
                // Create a DataSet with data (enables two way data binding)
                var data = new vis.DataSet([
                    {% set mile_ID = 1 %}
                    {% for entry in milestone_results %}
                    {id: {{mile_ID}}, content: '<b>{{entry["name"]}}'+'<span style="color:#97B0F8;">(' + '{{entry["status"]}}' + ')</span>' + '<br><i>{{entry["eta"]}} </i></b>', start: '{{entry["eta"]}}'},
                    {% set mile_ID = mile_ID + 1 %}
                    {% endfor %}
                ]);

                // Configuration for the Timeline
                var options = {
                    align: "left",
                    minHeight: "300px",
                    maxHeight: "300px",
                    zoomMin: "864000000"};
                    // Create a Timeline
                var timeline = new vis.Timeline(container, data, options);
                </script>
            -->
    {% endif %}
</div>
    <form name="bugs_table_form" action="{{ url_for('Entries_Processing') }}" id="bugs_table_form" method="post">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                <h2 class="sub-header">CPD - Filter</h2>
            </h1>            
        <dl>
        <b>Keywords<br>Add:</b>
            <input type=text list=browsers name="Add_keywords">
                <datalist id=browsers >
                    <option> triage-accepted
                    <option> triage-required
                    <option> SR
                    <option> cosmetic
                </datalist>
        <b>Remove:</b>
            <input type=text list=browsers name="Remove_keywords">
                <datalist id=browsers >
                    <option> triage-accepted
                    <option> triage-required
                    <option> SR
                    <option> cosmetic
            </datalist>
    </dl>
    <table id="bugs_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    <input name="Custodians" type="checkbox" value="All" class="checkall">
                </th>
                <th>Bug ID</th>
                <th>Summary</th>
                <th>Keywords</th>
                <th>Weight</th>
                <th>Priority</th>
                <th>Severity</th>
                <th>Case Count</th>
                <th>fix by product-version-phase</th>
                <th>Assigned_to</th>
                <th>ETA</th>
                <th>Last Modified</th>
                <th>Highlighted Reasons</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in bugs %}
            <tr>
                <td><input type=checkbox id = {{ entry["bug_id"] }} value = {{ entry["bug_id"] }} name = check_id_{{ entry["bug_id"] }}></td>
                <td><a href=https://bugzilla.eng.vmware.com/show_bug.cgi?id={{ entry["bug_id"] }} target="_blank">{{ entry["bug_id"] }}</a></td>
                <td>{{ entry["short_desc"] }}</td>
                <td>{{ entry["keywords"] }}</td>
                <td>{{ entry["weight"] }}</td>
                <td>{{ entry["priority"] }}</td>
                <td>{{ entry["bug_severity"] }}</td>
                <td>{{ entry["case_count"] }}</td>
                
                <!--The following two scripts are implemented for auto-completion-->
                <td>
                    {% set fix_number = 1 %}
                    {% for fix_entry in fix_by[entry["bug_id"]] %}
                    <script>
                        $(function() {
                            $("#fix_by_{{entry['bug_id']}}_{{fix_number }}_version").autocomplete({
                                source: function(request, response) 
                                {
                                    $.ajax({
                                        url: "{{url_for("autocomplete_version")}}",
                                        dataType: "json",
                                        data: {
                                        term: request.term,
                                        product: $('#fix_by_{{entry['bug_id']}}_{{fix_number }}_product').val()
                                        },
                                        success: function( data ) {
                                        response( data );
                                        }
                                    });
                                },
                                minLength: 2,
                            });
                        });
                    </script>
                    <script>
                        $(function() {
                          $("#fix_by_{{entry['bug_id']}}_{{fix_number }}_phase").autocomplete({
                             source: function( request, response ) 
                             {
                                    $.ajax({
                                    url: "{{url_for("autocomplete_phase")}}",
                                    dataType: "json",
                                    data: {
                                        term: request.term,
                                        version: $("#fix_by_{{entry['bug_id']}}_{{fix_number }}_version").val(),
                                    },
                                success: function( data ) {
                                response( data );
                                    }
                                    });
                            },
                            minLength: 0,
                          });
                        });
                    </script>
                    
                    <input type=text id="fix_by_{{entry['bug_id']}}_{{fix_number }}_product" name="fix_by_{{entry['bug_id']}}_{{fix_number }}_product" value = "{{fix_entry['product']}}" size = "8" class = "search-product">
                    <input type=text id="fix_by_{{entry['bug_id']}}_{{fix_number }}_version" name="fix_by_{{entry['bug_id']}}_{{fix_number }}_version" value = "{{fix_entry['version']}}" size = "8" class = "search-version">
                    <input type=text id="fix_by_{{entry['bug_id']}}_{{fix_number }}_phase" name="fix_by_{{entry['bug_id']}}_{{fix_number }}_phase" value = "{{fix_entry['phase']}}" size = "6" class = "search-phase">
                    Del:<input type=checkbox id="fix_by_{{entry['bug_id']}}_{{fix_number }}_check" name="fix_by_{{entry['bug_id']}}_{{fix_number }}_check">
                    <!-- This hidden line is implemented for searching in datatable -->
                    <div style="visibility: hidden"> {{fix_entry['product']}}_{{fix_entry['version']}}_{{fix_entry['phase']}}_{{fix_number }}</div>
                    <input type=hidden id="fix_by_{{entry['bug_id']}}_{{fix_number}}_id" name="fix_by_{{entry['bug_id']}}_{{fix_number}}_id" value="{{entry['bug_id']}}">
                    
                    
                    
                    
                    
                    
                    {% set fix_number = fix_number + 1 %}
                    {% endfor %}
                </td>
                <td>{{ entry["assigned_rn"] }}</td>
                <td>{{ entry["cf_eta"] }}</td>
                <td>{{ entry["delta_ts"] }}</td>
                <td>{{ entry["highlighted_by"] }}</td>
                <td><textarea name = comment_id_{{ entry["bug_id"] }} cols="20" rows="3" ></textarea></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type=hidden name= assigned_to value= {{assigned}}>
    <!-- <button id = "button" type = "submit">Submit</button> -->
    <h3><button class="btn btn-lg btn-primary btn-block" type="submit">Submit Change</button></h3>
    </form>
</div>
{% endblock %}
</body>
{% endif %}
