{% extends "layout.html" %}
{% if session.logged_in %}
<head>
    {%block head%}
    <link rel='stylesheet' type='text/css' href='static/css/jquery-ui.css'>
    <script src="static/js/jquery-1.11.1.js"></script>
    <script src="static/js/jquery-ui.js"></script>

    <!-- Set Auto Complete, profiles: This script is different since it could support multiple assignes -->
    <script>
    $(function() {
        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }
        $( "#auto_profile" )
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                    $( this ).autocomplete( "instance" ).menu.active ) {
                    event.preventDefault();
                    }
            })
            .autocomplete({
                minLength: 0,
                source: function( request, response ) {
                        $.ajax({
                            url: "{{url_for("autocomplete_profile")}}",
                            dataType: "json",
                            data: {
                                term: extractLast( request.term )
                            },
                            success: function( data ) {
                                response( data );
                            }
                        });
                    },
                focus: function() {
                    // prevent value inserted on focus
                return false;
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );
                    this.value = terms.join( "," );
                    return false;
                }
            });
        });
    </script>

    <!-- Set Auto Complete, products -->
    <script>
    $(function() {
      $("#auto_product").autocomplete({
        source: "{{url_for("autocomplete_product")}}",
        minLength: 2
      });
    });
    </script>

    <!-- Set Auto Complete, versions -->
    <script>
    $(function() {
      $("#auto_version").autocomplete({
         source: function( request, response ) 
         {
                $.ajax({
                url: "{{url_for("autocomplete_version")}}",
                dataType: "json",
                data: {
                    term: request.term,
                    product: $("#auto_product").val()
                },
            success: function( data ) {
            response( data );
                }
                });
        },
        minLength: 2,
      });
    });
    </script>

    <!-- Set Auto Complete, phase : The minlength in this script is different among other auto completions-->
    <script>
    $(function() {
      $("#auto_phase").autocomplete({
         source: function( request, response ) 
         {
                $.ajax({
                url: "{{url_for("autocomplete_phase")}}",
                dataType: "json",
                data: {
                    term: request.term,
                    version: $("#auto_version").val(),
                },
            success: function( data ) {
            response( data );
                }
                });
        },
        minLength: 0,
      });
    });
    </script>

    <!-- Set Calendar, There is two value keeping for each calendar in order to meet the correct sql query.-->
    <script>
    $(function() 
    {
        $( "#date_begin_cal" ).datepicker({ 
            dateFormat: "yy/mm/dd", 
            altFormat: "yy:mm:dd", 
            altField: "#date_begin", 
            maxDate: 0,
            minDate: "2014/01/01"
            });
        $( "#date_end_cal" ).datepicker({ 
            dateFormat: "yy/mm/dd", 
            altFormat: "yy:mm:dd", 
            altField: "#date_end", 
            maxDate: 0,
            minDate: "2014/01/01"
            });
    });
    </script>
    {%endblock%}
</head>
<body>
    {%block body%}
    <form action="{{ url_for('Triage_Report') }}" method=post>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                <h2 class="sub-header">Triage Report</h2>
            </h1>
            <div class="table-responsive">
                <div class="input-group">
                    <table class="table table-condensed" cellspacing ="0">
                        <thead>
                            <tr>
                                <th width="250px">Assigned to:</th>
                                <th>Date Begin:</th>
                                <th>Date End:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="ui-widget">
                                        <input id="auto_profile" name=assigned_to value="{{query_assignee}}" class="form-control" placeholder="'@:' can cite others' cared list">
                                    </div>
                                </td>
                                <td>
                                    <input type="text" id="date_begin_cal" class="form-control" value='{{date['date_begin_cal']}}'>
                                    <input type="hidden" id = "date_begin" name=date_begin value='{{date['date_begin']}}'>
                                </td>
                                <td>
                                    <input type="text" id="date_end_cal" class="form-control" value='{{date['date_end_cal']}}'>
                                    <input type="hidden" id = "date_end" name=date_end value='{{date['date_end']}}'>
                                </td>                
                            </tr>
                        </tbody>
                        <thead>
                            <th>Fix by Product:</th>
                            <th>Fix by Version(PS included):</th>
                            <th>Fix by Phase:</th>
                        </thead>
                        <tbody>
                            <td>
                                <div class="ui-widget">
                                    <input id="auto_product" name=fix_by_product value = "{{query_product}}" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="ui-widget">
                                    <input id="auto_version" name=fix_by_version value = "{{query_version}}" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="ui-widget">
                                    <input id="auto_phase" name=fix_by_phase value = "{{query_phase}}" class="form-control">
                                </div>
                            </td>
                        </tbody>
                        <input type=hidden name="product">
                        <h3><button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button></h3>
                    </table>
                </div>
            </div>
        </div>
    </form>
    {%endblock%}
</body>
{% endif %}
